.red {
    color: red;
}

input[type="file"] {
    display: none;
}

.logo {
    border: 1px solid #ccc;
    display: block;
    padding: 38px 28px;
    align-items: center;
    cursor: pointer;
    width: 10rem;
    height: 7rem;
    background-color: #999;
    font-size: 1.25rem;
    color: black;
}

.wd {
    margin-right: 7rem;
}